.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 10vh;
  width: 50%;
}

.wrapper a {
  text-decoration: none;
  color: #27496d;
  font-size: larger;
  font-weight: bolder;
}
